<main class="main">
        <p class="main__url">Home / Amplifiers</p>

        <section class="main__categories">
            <ul class="categories__unorderedlist">Amplifiers
                <li class="unorderedlist__list">Intergrated Amplifiers</li>
                <li class="unorderedlist__list">Power Amplifiers</li>
                <li class="unorderedlist__list">Preamplifiers</li>
            </ul>
            <p class="main__links">Speakers</p>
            <p class="main__links">Turntables</p>
            <p class="main__links">CD Players</p>
            <p class="main__links">Streamers</p>
            <p class="main__links">Cables</p>
            <p class="main__links">Furniture</p>
            <p class="main__links">Headphones</p>
            <p class="main__links">Home Cinema</p>
            <p class="main__links">Ceiling Speakers</p>
            <p class="main__links">TV</p>
            <p class="main__links">Vinyl</p>
            <p class="main__links">Outlet - Save ££££</p>
        </section>

        <section class="main__shopby">
            <h3 class="shopby__title">Shop by</h3>
            <h4 class="shopby__subtitle">Filter</h4>
            <ul class="shopby__unorderedlist">PRICE
                <li class="unorderedlist__list2">£0.00 - £799.99(10)</li>
                <li class="unorderedlist__list2">£800.00 - £999.99(11)</li>
                <li class="unorderedlist__list2">£1,000.00 - £1,499.99(13)</li>
                <li class="unorderedlist__list2">£1,500.00 - £1,999.99(13)</li>
                <li class="unorderedlist__list2">£2,000.00 - £2,999.99 (20)</li>
                <li class="unorderedlist__list2">£3,000.00 - £3,499.99(11)</li>
                <li class="unorderedlist__list2">£3,500.00 - £4,999.99(17)</li>
                <li class="unorderedlist__list2">£5,000.00 - £7,999.99(16)</li>
                <li class="unorderedlist__list2">£8,000.00 - £11,999.99(9)</li>
                <li class="unorderedlist__list2">£12,000.00 and above (13)</li>
            </ul>
            <div class="shopby__container2">
            <h4 class="shopby__subtitle2">Manufacturer</h4>
            <p class="main__links2">Arcam(<span class="links2__counter">5</span>)</p>
            </div>
        </section>

        <form class="main__form">
            <h3 class="form__title">Amplifiers</h3>

            <div class="form__container">
                <p class="container__subtitle">Sort by: <select class="container__select"></p>
                    <option class="select__answer" value="Price">Price</option>
                    <option class="select__answer" value="Date">Date</option>
                    <option class="select__answer" value="Available">Available</option>
                </select>
                <p class="container__subtitle2">&#11014;</p>

                
            <p class="container__text">View as: <div class="container__square">&#x25A0; &#x25A0; &#x25A0; &#x25A0; </div> <span class="container__burger">&#9776;</span> </p>

            <div class="form__containerNew">
                <h5 class="containerNew__items"><span class="items__totalItems">144</span> Item(s)</h5>
                <p class="containerNew__subtitleNew">SHOW: <select class="containerNew__selectNew"></p>
                    <option class="select__answerNew" value="100">100</option>
                    <option class="select__answerNew" value="300">300</option>
                    <option class="select__answerNew" value="All">All</option>
                </select>
            </div>

            </div>
        </form>

        <template class="main__shop">
            <article class="shop__products">
            <a href="" class="card__info-link">
                <figure class="products__figure">
                    <img class="figure__img" src="">
                </figure>
            </a>
            <h4 class="products__title"></h4>
            <p class="products__subtitle"></p>
            <button class="products__button">ADD TO CART</button>
            </article>
        </template>

        <section class="main__categories3">
            <ul class="categories3__unorderedlist3">Manufacturer
            </ul>
            <p class="categories3__links">View All</p>
        </section>

    </main>