<% include ../partials/head %>

<% include ../partials/header %>
<% include ../partials/nav %>

<main class="main">
    <div class="main__logoContainer">
        <h1 class="logoContainer__title">HI FI</h1>
        <p class="logoContainer__subtitle">hificorner.co.uk</p>
    </div>
    <section class="main__banner">
        <h1 class="banner__heading">OUR EDINBURGH SHOWROOM HAS NOW MOVED TO STUNNING NEW PREMISES ON JOPPA ROAD</h1>
    </section>
    <section class="main__slideshow">
        <!-- Inner HTML From JavaScript -->
        <img class="arrows__arrowLeft" src="./assets/images/slider-prev.png">
        <img class="arrows__arrowRight" src="./assets/images/slider-next.png">
    </section>
    <section class="main__gallery">
        <figure class="gallery__boxLeft">
            <img class="box__img" src="./assets/images/social-facebook.png">
        </figure>
        <figure class="gallery__boxMid">
            <img class="box__img" src="./assets/images/social-blog.png">
        </figure>
        <figure class="gallery__boxRight">
            <img class="box__img" src="./assets/images/social-twitter.png">
        </figure>
    </section>
    <section class="info">
        <article class="info__container">
            <div class="container__title">History</div>
            <p class="container__subtitle">ESTABLISHED IN THE LATE 1960S, OUR FAMILY OWNED BUSINESS
                IS BASED IN EDINBURGH AND FALKIRK, SERVICING CUSTOMERS
            ACROSS THE UK.</p>
        </article>
        <article class="info__container">
            <div class="container__title">News</div>
            <p class="container__subtitle">CHECK OUT OUR LATEST NEWS STORIES FOR ALL THE UP TO DATE
                 HI-FI CORNER PRODUCTS AND LAUNCHES.</p>
        </article>
        <article class="info__container">
            <div class="container__title">Shop</div>
            <p class="container__subtitle">HAVE A LOOK IN OUR ONLINE SHOP FOR GREAT PRODUCTS AND DEALS.</p>
        </article>
    </section>
</main>

<% include ../partials/footer %>
<% include ../partials/after-footer %>