<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/produkt.css">
    <title>HI FI | PRODUKT</title>
</head>
<body>

<div class="spin">
    <div class="spinner"></div>
</div>

<% include ../partials/header %>
<% include ../partials/nav %>

<% include ../partials/main %>

<% include ../partials/footer %>

<script src="../assets/javascript/produkt.js"></script>
</body>
</html>

