<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/shop.css">
    <title>HI FI | SHOP</title>
</head>
<body class="bodyScroll">

<div class="spin">
    <div class="spinner"></div>
</div>

<header class="header">
    <img class="header__logo" src="../assets/images/logo-white.png">

    <navbar class="header__navbar">
        <form class="navbar__search">
            <input class="search__input" type="text" placeholder="Search entire store here...">
            <i class="fas fa-search search__icon"></i>
        </form>
        <i class="fas fa-user navbar__account"><a href="" class="account__link">Account</a></i>
        <i class="fas fa-shopping-cart navbar__cart"><a href="" class="cart__link">cart</a></i>
        <img class="navbar__contact" src="../assets/images/top-map.png">
        <img class="navbar__contact" src="../assets/images/top-call.png">
        <img class="navbar__contact" src="../assets/images/top-mail.png">
    </navbar>
</form>
</header>
<navbar class="navigation">
    <ul class="navigation__unorderedlist">
        <li class="unorderedlist__link"><a href="/index.html" class="link__anker">HOME</a></li>
        <li class="unorderedlist__link"><a href="home" class="link__anker">ABOUT US</a></li>
        <li class="unorderedlist__link"><a href="home" class="link__anker">BRANDS</a></li>
        <li class="unorderedlist__link"><a href="home" class="link__anker">BLOG</a></li>
        <li class="unorderedlist__link"><a href="home" class="link__anker">EVENTS</a></li>
        <li class="unorderedlist__link"><a href="/shopgallery" class="link__anker">SHOP</a></li>
        <li class="unorderedlist__link"><a href="home" class="link__anker">CONTACT US</a></li>
    </ul>
</navbar>

<% include ../partials/main %>

<% include ../partials/footer %>

<script src="../assets/javascript/shop.js" type="module"></script>
</body>
</html>
