<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/shopgallery.css">
    <title>HI FI | GALLERY</title>
</head>
<body>

<% include ../partials/header %>
<% include ../partials/nav %>

<main class="shop">

            
        
            <div class="shop__block block__14">

            </div>
        
            <div class="shop__block block__11">

            </div>
        
            <div class="shop__block block__15">

            </div>
        
            <div class="shop__block  block__ebay">

            </div>
        
            <div class="shop__block block__19">
 
            </div>
        
            <div class="shop__block block__shopTV">

            </div>
        
            <div class="shop__block block__vinyl">
                <div class="shop__block-inner">
                    <h1 class="block-inner__title"><a class="title__anker" href="">Vinyl LPs</a></h1>
                </div>
            </div>
        
            <div class="shop__block shop__now"><div class="shop__block-inner"><button href="" class="block-inner__button">Shop Now</button></div></div>
                
</main>

<% include ../partials/footer %>

<script src="../assets/javascript/gallery.js" type="module"></script>
</body>
</html>

