.main__logoContainer {
    width: 110px;
    height: 120px;
    border: 2px white solid;
    margin: 0 auto;
    color: white;
    margin-top: 150px;
}

.logoContainer__title {
    margin-top: 55px;
    letter-spacing: 5px;
    width: 60px;
    text-align: center;
    font-size: 25px;
}

.logoContainer__subtitle {
    margin-top: 0px;
    position: absolute;
}